@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.numbers {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}

#progress td {
  padding: 0 0.5em;
}
#progress th {
  padding: 0 0.5em;
  font-weight: bolder;
}

#progress tr th:first-child {
  text-align: right;
}

#progress td::after {
  /* This seems silly, but it prevents a bug on Chrome.
   * Without this any animation that tries to set the content
   * property of an element will silently fail.
   * This is not required on Safari, so I'm calling it a Chrome bug.  */
  content: "";
}

body {
  margin: 0.5em !important;
}

i {
  font-weight: 900;
}

[type="range"] {
  min-width: 5em;
}

[data-sample] {
  max-height: 30vh;
}

svg[data-sample] {
  padding: 1.5em;
  overflow: visible;
}

img[data-sample] {
  margin: 1.5em;
}

.outlineSample > path {
  fill: none;
  stroke: black;
  stroke-width: var(--recommended-stroke-width);
  stroke-linecap: round;
}

circle[data-distance] {
  r: calc(3 * var(--recommended-stroke-width));
  fill: red;
  stroke: none;
}

circle[data-t] {
  r: calc(1.5 * var(--recommended-stroke-width));
  fill: rgb(0, 195, 255);
  stroke: none;
}

#requestedVsReconstructed path:nth-of-type(1) {
  stroke: hwb(204.42deg 0% 0%);
  stroke-width: calc(3 * var(--recommended-stroke-width));
}

#requestedVsReconstructed path:nth-of-type(2) {
  stroke: pink;
}

#requestedVsReconstructed path:nth-of-type(3) {
  stroke: darkred;
}

#requestedVsReconstructed path:nth-of-type(4) {
  stroke: red;
}

.error {
  background-color: red;
  color: white;
  padding: 0.5em;
  border-radius: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: normal;
}

#error:empty {
  display: none;
}

button,
select {
  font-size: 1rem;
}

.has-slider {
  display: flex;
  gap: 0.2em;
  flex-wrap: wrap;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.has-slider > input[type="range"] {
  flex-grow: 1;
}

.has-slider > span:last-child {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 85%;
}

html[data-hide] [data-hide] {
  display: none;
}

#codeSamplesHolder > div {
  border: solid thin blue;
  border-radius: 0.5em;
  margin: 0.5em 0;
}

[data-description] {
  background-color: blue;
  color: white;
  border: solid thin blue;
  border-radius: 0.3em 0.3em 0 0;
  margin: 0.2em;
  padding: 0.2em;
}

[data-code-snippet] {
  overflow-x: scroll;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 85%;
  margin: 0.25rem;
}

.show-this {
  float: right;
}
