@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

.numbers {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}

tspan:nth-child(3n + 1) {
  --color: red;
}
tspan:nth-child(3n + 2) {
  --color: white;
}
tspan:nth-child(3n) {
  --color: var(--blue);
}

#thumbnail-foreground text {
  font-size: 3px;
  font-family: "Ranchers", fantasy;
  font-weight: 400;
}

#thumbnail-foreground text:nth-child(2) {
  font-size: 2.5px;
}

#thumbnail-foreground text tspan {
  fill: var(--color);
}

#thumbnail-foreground text:nth-child(2) tspan:nth-child(even) {
  fill: none;
  stroke: var(--color);
  stroke-width: 0.15px;
}

body {
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  padding: 0;
  margin: 0;
  background-color: blueviolet;
  --pastel-blue: hsl(200, 50%, 70%);
  --darker-blue: hsl(200, 60%, 50%);
  --pastel-lavender: hsl(270, 45%, 75%);
  --darker-purple: hsl(270, 55%, 55%);
  --pastel-pink: hsl(340, 50%, 70%);
  --darker-pink: hsl(340, 60%, 50%);
  --pastel-mint: hsl(170, 45%, 70%);
  --darker-teal: hsl(170, 55%, 50%);
  --pastel-coral: hsl(15, 50%, 70%);
  --darker-coral: hsl(15, 60%, 50%);

  --blue: hwb(204.42deg 0% 0%);

  overflow: hidden;
}

svg#main {
  width: 100vw;
  height: 100vh;
  --base-stroke-width: 0.05px;
}

.backgroundCanvas {
  width: calc(min(100vw, 177.77777778vh));
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/*
#srgbCanvas {
  width: calc(min(100vw, 177.77777778vh));
}
*/

line#for-scale {
  display: none;
  stroke: orange;
  stroke-width: var(--base-stroke-width);
}

text.chapter {
  font-size: 0.5px;
  text-anchor: end;
}

g.frequencies[data-frequencies="red"] {
  transform: translate(0.25px, 5.65px) scale(0.25);
}

g.frequencies[data-frequencies="white"] {
  transform: translate(5.5px, 0.1px) scale(0.25);
}

g.frequencies[data-frequencies="blue"] {
  transform: translate(10.75px, 5.65px) scale(0.25);
}

g.frequency:nth-child(1) {
  transform: translate(0, -0.5px);
}

g.frequency:nth-child(2) {
  transform: translate(0, 2px);
}

g.frequency:nth-child(3) {
  transform: translate(0, 4.5px);
}

g.frequency:nth-child(4) {
  transform: translate(0, 7px);
}

g.frequency:nth-child(5) {
  transform: translate(0, 9.5px);
}

g.frequency:nth-child(6) {
  transform: translate(7px, -0.5px);
}

g.frequency:nth-child(7) {
  transform: translate(7px, 2px);
}

g.frequency:nth-child(8) {
  transform: translate(7px, 4.5px);
}

g.frequency:nth-child(9) {
  transform: translate(7px, 7px);
}

g.frequency:nth-child(10) {
  transform: translate(7px, 9.5px);
}

g.frequency:nth-child(11) {
  transform: translate(14px, -0.5px);
}

g.frequency:nth-child(12) {
  transform: translate(14px, 2px);
}

g.frequency:nth-child(13) {
  transform: translate(14px, 4.5px);
}

g.frequency:nth-child(14) {
  transform: translate(14px, 7px);
}

g.frequency:nth-child(15) {
  transform: translate(14px, 9.5px);
}

.frequency {
  font-size: 1px;
}

.frequency text {
  font-size: 1.5px;
  transform: translate(4px, 2.5px);
}

text.background {
  stroke-width: 0.7;
  stroke: rgba(255, 255, 255, 0);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.spinner {
  transform-origin: 2px 2px;
}

path[data-reference] {
  fill: none;
  stroke-width: calc(var(--base-stroke-width) / var(--path-scale) * 0.25);
  stroke-linecap: round;
  stroke-linejoin: round;
}

path[data-live] {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: calc(var(--base-stroke-width) / var(--path-scale) * 2);
}

#top-rect,
#top-rect2 {
  will-change: transform;
}
