.small-demo {
  width: 15em;
}

.border-radius-1 {
  animation: borderRadius1 4s ease-in-out 0s infinite alternate;
}

@keyframes borderRadius1 {
  0% {
    rx: 0.125;
    ry: 0.125;
  }
  100% {
    rx: 0;
    ry: 0.125;
  }
}

.border-radius-2 {
  animation: borderRadius2 4s ease-in-out 0s infinite alternate;
}

@keyframes borderRadius2 {
  0% {
    rx: 0.125;
    ry: 0.125;
  }
  100% {
    rx: 0;
    ry: 0;
  }
}

.stroke {
  stroke-width: 0.02;
  stroke: white;
  fill: none;
}

.border-radius-path {
  animation: borderRadiusPath 4s ease-in-out 0s infinite alternate;
}

@keyframes borderRadiusPath {
  0% {
    d: path(
      "M 0.125,0.25 A 0.125 0.125 90 0 1 0.25,0.125 L 0.75,0.125 A 0.125 0.125 90 0 1 0.875 0.25 L 0.875 0.75 A 0.125 0.125 90 0 1 0.75 0.875 L 0.25 0.875 A 0.125 0.125 90 0 1 0.125 0.75 Z"
    );
  }
  100% {
    d: path(
      "M 0.125,0.125 A 0 0 90 0 1 0.125,0.125 L 0.875,0.125 A 0 0 90 0 1 0.875 0.125 L 0.875 0.875 A 0 0 90 0 1 0.875 0.875 L 0.125 0.875 A 0 0 90 0 1 0.125 0.875 Z"
    );
  }
}

.octagon1 {
  animation: octagon1 4s ease-in-out 0s infinite alternate;
}

@keyframes octagon1 {
  0% {
    d: path(
      "M 0.345,0.125 0.655,0.125 0.875,0.345 0.875,0.655 0.655,0.875 0.345,0.875 0.125,0.655 0.125,0.345 Z"
    );
  }
  100% {
    d: path(
      "M 0.125,0.125 0.875,0.125 0.875,0.125 0.875,0.875 0.875,0.875 0.125,0.875 0.125,0.875 0.125,0.125 Z"
    );
  }
}

.octagon2 {
  animation: octagon2 4s ease-in-out 0s infinite alternate;
}

@keyframes octagon2 {
  0% {
    d: path(
      "M 0.345,0.125    0.655,0.125 0.765,0.235 0.875,0.345    0.875,0.655 0.765,0.765 0.655,0.875    0.345,0.875 0.235,0.765 0.125,0.655    0.125,0.345 0.235,0.235 Z"
    );
  }
  100% {
    d: path(
      "M 0.345,0.125    0.655,0.125 0.875,0.125 0.875,0.345    0.875,0.655 0.875,0.875 0.655,0.875    0.345,0.875 0.125,0.875 0.125,0.655    0.125,0.345 0.125,0.125 Z"
    );
  }
}
