body {
  margin: 0.5em !important;
}

[type="range"] {
  min-width: 5em;
}

#resultHolder {
  display: block;
  margin-left: 1em;
  text-indent: -1em;
  padding-left: 0;
}

#outlineSample > path {
  fill: none;
  stroke: black;
  stroke-width: var(--recommended-width);
}

#chasingPathsSample > path {
  fill: none;
  stroke: black;
  stroke-width: var(--recommended-width);
}

#dancingAntsSample > path {
  fill: none;
  stroke: black;
  stroke-width: calc(2 * var(--recommended-width));
  stroke-linecap: round;
}

#tauFollowingPathSample > path {
  fill: none;
  stroke: black;
  stroke-width: calc(0.25 * var(--recommended-width));
  stroke-linecap: round;
}

#tauFollowingPathSample > text {
  font-size: calc(var(--recommended-width) * 25px);
  text-anchor: middle;
  dominant-baseline: middle;
  offset-path: var(--css-path);
}

#tauFollowingPathSample > text:nth-of-type(1) {
  /* 𝜏 */
  offset-rotate: 0deg;
  fill: brown;
  animation: move 12500ms linear infinite;
}

#tauFollowingPathSample > text:nth-of-type(2) {
  /* π */
  offset-rotate: 0deg;
  fill: rgb(0, 113, 139);
  animation: move 25000ms linear infinite;
}

#tauFollowingPathSample > text:nth-of-type(3) {
  /* → */
  fill: #eb90ee;
  animation: move 20967ms linear infinite;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

#textPathSample > path {
  fill: none;
  stroke: black;
  stroke-width: calc(0.25 * var(--recommended-width));
}

#textPathSample text {
  font-size: calc(var(--recommended-width) * 7px);
  fill: #cc5500;
}

#error {
  background-color: red;
  color: white;
  padding: 0.5em;
  border-radius: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#error:empty {
  display: none;
}

button {
  font-size: 1rem;
}

.has-slider {
  display: flex;
  gap: 0.2em;
  flex-wrap: wrap;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.has-slider > input[type="range"] {
  flex-grow: 1;
}

.has-slider > span:last-child {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 85%;
}

#codeSamplesHolder > div {
  border: solid thin blue;
  border-radius: 0.5em;
  margin: 0.5em 0;
}

[data-description] {
  background-color: blue;
  color: white;
  border: solid thin blue;
  border-radius: 0.3em 0.3em 0 0;
  margin: 0.2em;
  padding: 0.2em;
}

[data-code-snippet] {
  overflow-x: scroll;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 85%;
  margin: 0.25rem;
}

.show-this {
  float: right;
}
