body {
  margin: 0.5em !important;
}

[type="range"] {
  min-width: 5em;
}

#resultHolder {
  display: block; /* Ensures the element behaves as a block for proper line handling */
  margin-left: 1em; /* Indents all lines by 1em */
  text-indent: -1em; /* Pulls the first line back to offset the margin */
  padding-left: 0; /* Remove padding since margin-left handles the indent */
}

#outlineSample > path {
  fill: none;
  stroke: black;
  stroke-width: var(--recommended-width);
}

#error {
  background-color: red;
  color: white;
  padding: 0.5em;
  border-radius: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#error:empty {
  display: none;
}

button {
  font-size: 1rem;
}

.has-slider {
  display: flex;
  gap: 0.2em;
  flex-wrap: wrap;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.has-slider > input[type="range"] {
  flex-grow: 1;
}

.has-slider > span:last-child {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 85%;
}

#codeSamplesHolder > div {
  border: solid thin blue;
  border-radius: 0.5em;
  margin: 0.5em 0;
}

[data-description] {
  background-color: blue;
  color: white;
  border: solid thin blue;
  border-radius: 0.3em 0.3em 0 0;
  margin: 0.2em;
  padding: 0.2em;
}

[data-code-snippet] {
  overflow-x: scroll;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 85%;
  margin: 0.25rem;
}

.show-this {
  float: right;
}
