@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
}

body {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  max-width: 100vw;
}

/**
 * This is a common style for code.
 *
 */
code {
  background-color: lightblue;
  border-radius: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: blue;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
}

#fakeBody {
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: calc(min(60ch, 100vw - 2em));
}

th {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", serif;
  font-weight: normal;
}

p {
  text-align: justify;
  margin-top: 0.33em;
  margin-bottom: 0.33em;
  text-indent: 2.5ch;
}

h1 {
  margin-bottom: 0.33em;
}

textarea {
  align-self: stretch;
}

h1 + p {
  text-indent: 0;
}

.pathDebugger {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
}

#singlePathSvg {
  background-color: black;
  max-width: 100vmin;
  overflow: visible;
  max-height: 50vh;
  align-self: center;
  --stroke-width: 2.25;
}

#singlePathSvg path.hover {
  stroke-width: calc(var(--stroke-width) / 2.25 * 7);
}

#singlePathSvg path {
  stroke-width: var(--stroke-width);
}

td.hover {
  background-color: lightgray;
}

#singlePathSvg path.selected {
  stroke: white !important;
}

.segments td.selected {
  color: white !important;
}

#singlePathSvg path {
  stroke-linecap: round;
  stroke-linejoin: round;
}

#singlePathMainInput {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  align-self: stretch;
}

#singlePathMainInput input {
  flex-grow: 1;
}

.errorContainer {
  color: white;
  background-color: red;
  align-self: stretch;
}

.errorContainer :first-child {
  font-weight: normal;
  padding: 0 0.2em;
}

.errorContainer :first-child:empty {
  display: none;
}

.errorContainer :first-child:empty + * {
  display: none;
}

.segments {
  align-self: center;
}

.segments td {
  text-align: right;
}

.segments td:nth-child(1) {
  background-color: black;
  font-weight: bold;
}

.segments td:nth-child(2) {
  text-align: center;
  font-family: "Courier Prime", monospace;
}

.segments td:nth-child(8) {
  position: relative;
  top: -0.5lh;
  background-color: transparent;
}
path {
  stroke-width: 2.25;
  stroke: darkblue;
  fill: none;
}

.segments td.error {
  /* text-decoration: 7% red wavy line-through;  */
  color: #d30000;
}

svg.angles {
  fill: lightblue;
  stroke-width: 0.055;
  width: 5em;
  margin: 0.5em;
  fill: none;
  overflow: visible;
}

svg.angles line {
  stroke: darkorange;
}

svg.angles path {
  stroke-width: 0.04;
}
