body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

svg {
  background-color: black;
}
path {
  fill: none;
  stroke-width: 0.2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

path.blue {
  stroke: hwb(180deg 0% 25.07%);
}

path.white {
  stroke: white;
}

path.gold {
  stroke: hwb(47.34deg 8.63% 5.88%);
}

#handwriting {
  --t: replace-me;
  --total-length: replace-me;
  --total-position: calc(var(--t)*var(--total-length));
}

#handwriting > path {
  --offset: replace-me;
  --length: replace-me;
  --position: calc(
    clamp(-0.0001, var(--total-position) - var(--offset), var(--length))
  );
  stroke-dasharray: 0, calc(var(--length) + 1), calc(var(--length) + 1), 0;
  stroke-dashoffset: calc(0 - var(--position));
}
