@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: none;
  background-color: blue;
  padding: 0;
  margin: 0;
  overflow: hidden;
  --blue: hwb(204.42deg 0% 0%);
}

svg {
  background-color: hotpink;
  width: 100vw;
  height: 100vh;
}

#circles-all {
  --circle-color: darkgreen;
}

#circles-chart {
  transform: translate(0, -2px);
}

#real-axis {
  stroke-width: 0.05;
  stroke: var(--circle-color);
}

#circles-all text {
  font-size: 0.5px;
  text-anchor: middle;
  alignment-baseline: central;
  transform: scale(1, -1);
}

[data-circle-info="1"] {
  --example-color: red;
  display: var(--example1-open-end-display);
}

[data-circle-info="1"] line[data-full-interval]:nth-of-type(1) {
  transform: translate(var(--example1-from-x), 0);
}

[data-circle-info="1"] circle {
  transform: translate(var(--example1-center-x), 0);
}

[data-circle-info="1"] circle[data-full-interval] {
  r: calc((var(--example1-to-x) - var(--example1-from-x)) / 2);
}

[data-circle-info="1"] line[data-full-interval]:nth-of-type(2) {
  transform: translate(var(--example1-to-x), 0);
}

[data-circle-info="2"] {
  --example-color: white;
  display: var(--example2-open-end-display);
}

[data-circle-info="2"] line[data-full-interval]:nth-of-type(1) {
  transform: translate(var(--example2-from-x), 0);
}

[data-circle-info="2"] circle {
  transform: translate(var(--example2-center-x), 0);
}

[data-circle-info="2"] circle[data-full-interval] {
  r: calc((var(--example2-to-x) - var(--example2-from-x)) / 2);
}

[data-circle-info="2"] line[data-full-interval]:nth-of-type(2) {
  transform: translate(var(--example2-to-x), 0);
}

[data-circle-info="3"] {
  --example-color: var(--blue);
  display: var(--example3-open-end-display);
}

[data-circle-info="3"] line[data-full-interval]:nth-of-type(1) {
  transform: translate(var(--example3-from-x), 0);
}

[data-circle-info="3"] circle {
  transform: translate(var(--example3-center-x), 0);
}

[data-circle-info="3"] circle[data-full-interval] {
  r: calc((var(--example3-to-x) - var(--example3-from-x)) / 2);
}

[data-circle-info="3"] line[data-full-interval]:nth-of-type(2) {
  transform: translate(var(--example3-to-x), 0);
}

[data-bottom-center] {
  r: 0.15;
  stroke-width: 0.03;
  stroke: var(--circle-color);
  fill: var(--example-color);
}

[data-full-interval] {
  stroke-width: 0.03;
  stroke-dasharray: 0.1 0.08;
  stroke: var(--example-color);
  fill: none;
}

.chart {
  transform: translate(8px, 4.5px) scaleY(-1);
}

.grid line {
  fill: none;
  stroke: #000060;
  stroke-width: 0.02;
  stroke-dasharray: 0.03;
}

.grid line[data-major] {
  stroke-width: 0.05;
  stroke-dasharray: none;
}

#original-function {
  fill: none;
  stroke: gray;
  stroke-width: 0.1;
  stroke-linecap: round;
}

[data-reconstruction] {
  fill: none;
  stroke-linecap: round;
}

[data-reconstruction="1"] {
  stroke: red;
  stroke-width: 0.25;
}

[data-reconstruction="2"] {
  stroke: white;
  stroke-width: 0.175;
}

[data-reconstruction="3"] {
  stroke: var(--blue);
  stroke-width: 0.1;
}

[data-open-end] {
  r: 0.2;
  stroke-width: 0.03;
  fill: none;
}

[data-open-end="1"] {
  stroke: red;
}

[data-open-end="2"] {
  stroke: white;
}

[data-open-end="3"] {
  stroke: var(--blue);
}

.ideal {
  stroke-dasharray: 0 0.069;
  stroke-linecap: round;
}

.end-point-mask {
  r: 0.2;
}

[data-center] {
  r: 0.2;
  stroke-width: 0.03;
}

[data-center="1"] {
  fill: red;
  stroke: red;
  cx: var(--example1-center-x);
  cy: var(--example1-center-y);
}

[data-center="2"] {
  fill: white;
  stroke: white;
  cx: var(--example2-center-x);
  cy: var(--example2-center-y);
}

[data-center="3"] {
  fill: var(--blue);
  stroke: var(--blue);
  cx: var(--example3-center-x);
  cy: var(--example3-center-y);
}

#manual-controls {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  display: flex;
  flex-direction: column;
}

#manual-controls div:nth-of-type(2) {
  background-color: red;
}
#manual-controls div:nth-of-type(3) {
  background-color: white;
}
#manual-controls div:nth-of-type(4) {
  background-color: var(--blue);
}

[data-term-stepper] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[data-term-stepper] span {
  background-color: rgb(255 255 255 / 50%);
}
