body {
  background-color: blue;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

svg {
  background-color: hotpink;
  width: 100vw;
  height: 100vh;
}

.chart {
  transform: translate(8px, 4.5px) scaleY(-1);
}

.grid line {
  fill: none;
  stroke: #000060;
  stroke-width: 0.02;
  stroke-dasharray: 0.03;
}

.grid line[data-major] {
  stroke-width: 0.05;
  stroke-dasharray: none;
}

#original-function {
  fill: none;
  stroke: gray;
  stroke-width: 0.1;
  stroke-linecap: round;
}

[data-reconstruction] {
  fill: none;
  stroke-linecap: round;
}

[data-reconstruction="1"] {
  stroke: red;
  stroke-width: 0.25;
}

[data-reconstruction="2"] {
  stroke: white;
  stroke-width: 0.175;
}

[data-reconstruction="3"] {
  stroke: hwb(204.42deg 0% 0%);
  stroke-width: 0.1;
}

[data-open-end] {
  r: 0.2;
  stroke-width: 0.03;
  fill: none;
}

[data-open-end="1"] {
  stroke: red;
}

[data-open-end="2"] {
  stroke: white;
}

[data-open-end="3"] {
  stroke: hwb(204.42deg 0% 0%);
}

.ideal {
  stroke-dasharray: 0 0.069;
  stroke-linecap: round;
}

.end-point-mask {
  r: 0.2;
}

[data-center] {
  r: 0.2;
  stroke-width: 0.03;
}

[data-center="1"] {
  fill: red;
  stroke: red;
}

[data-center="2"] {
  fill: white;
  stroke: white;
}

[data-center="3"] {
  fill: hwb(204.42deg 0% 0%);
  stroke: hwb(204.42deg 0% 0%);
}
