.compare {
  fill: none;
  stroke-width: 0.05px;
  stroke: royalblue;
}

.compare circle {
  stroke: hwb(47.34deg 8.63% 5.88%);
}

.compare text {
  stroke: none;
  font-size: 0.75px;
  font-weight: bold;
  dominant-baseline: central;
  text-anchor: middle;
}

text {
  fill: white;
  font-size: 100px;
  font-weight: normal;
}

text#legend {
  dominant-baseline: hanging;
  fill: url(#legendGradient);
}

text.caption {
  text-anchor: middle;
}

#debugInput {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  border: solid black 0.05em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#debugInputTop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 0.75em;
}
