@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap");

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: clip;
  background-color: lightpink;
}

svg {
  font-family: "Special Elite", system-ui;
  width: 100vw;
  height: 100vh;
}

path.blue {
  stroke: hwb(180deg 0% 25.07%);
}

.main-path-translate {
  transform: translate(430px, -475px) scale(5);
  stroke: white;
}

.main-path {
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#dance line {
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: hwb(47.34deg 8.63% 5.88%);
}

#dance circle {
  stroke: none;
  fill: #ff6ac2;
  filter: url(#blurMe);
}

.student-path {
  fill: hwb(180deg 0% 25.07%);
}

.teacher-path {
  fill: #6b5d51;
  transform: scale(1.5) scaleX(-1);
  transform-origin: bottom;
}

#conversation-handwriting {
  --t: replace-me;
  --total-length: replace-me;
  --total-position: calc(var(--t) * var(--total-length));
}

#conversation-handwriting > path {
  stroke-width: 5;
  fill: none;
  --offset: replace-me;
  --length: replace-me;
  --position: calc(
    clamp(-0.0001, var(--total-position) - var(--offset), var(--length))
  );
  stroke-dasharray: 0, calc(var(--length) + 1), calc(var(--length) + 1), 0;
  stroke-dashoffset: calc(0 - var(--position));
  stroke-linejoin: round;
  stroke-linecap: round;
}

#conversation-handwriting .teacher {
  stroke: #6b5d51;
}

#conversation-handwriting .student {
  stroke: hwb(180deg 0% 25.07%);
}

path.gold {
  stroke: hwb(47.34deg 8.63% 5.88%);
  background-color: #6b5d51;
}

#background {
  fill: black;
  stroke: none;
}

#debugInput {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  border: solid black 0.05em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#debugInput div {
  font-family: "Special Elite", system-ui;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#debugInput div label {
  padding: 0.2em;
}

#legend {
  transform: translate(-3.4px, -0.7px) scale(0.7);
}

.border text {
  stroke: white;
  stroke-width: 0.05px;
  stroke-linejoin: round;
}

#debugInfo {
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: #2be2c1;
  text-shadow: white 0.1em 0em 0.1em, white -0.1em 0em 0.1em,
    white 0em 0.1em 0.1em, white 0em -0.1em 0.1em;
  font-size: 3rem;
  font-family: "Yuji Mai", monospace;
}

#thumbnail-text {
  font-size: 80pt;
  text-anchor: middle;
  transform: translateX(550px);
}

#thumbnail-text text:nth-child(1) {
  fill: #6b5d51;
}

#thumbnail-text text:nth-child(2) {
  fill: white;
}

#thumbnail-text text:nth-child(3) {
  fill: hwb(180deg 0% 25.07%);
}
